/* MOBILE FIRST LAYOUT STYLES */
/* screens smaller than 480px width targets  are mobile vertical, smartphone landscape */

/**********************
General
***********************/

body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
#wrapper {
	max-width: 940px; /* body will not be wide than 940px */
  margin: 0 auto;
  padding: 0 5%; /*flex layout*/
	/*border-top: 1px solid green;*/
}
a {
  text-decoration: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
  max-width: 100%; /*flex images*/
}
h3 {
  margin: 0 0 1em 0; /* bottom margin pushes down 1em */
}
/* positioning styles */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



/**********************************
HEADING
header in mobile view - hamburger menu mouseover for screens less than 480 pixels wide
***********************************/
/* Float the main header to the left, to make room for the hamburger menu. */
.heading-group-h1 {
  float: left;
  padding: 5px 0 5px 10px;
  width: 80%;
}
.heading-group-h1 h1 {
	font-family: 'Ubuntu', Arial, sans-serif;
	margin: 10px 0 10px 0;  /*reduces upper & lower margins on the h1 */
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}
.heading-group-h1 h2 {
	margin: -5px 0 0; /* negative top margin, brings h2 up closer to h1 */
	font-weight: normal;
  font-size: 1.25em;
}

#wrapper {
	border-top: solid black 1px;
}



/**********************************
NAVIGATION
***********************************/
.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}
.main-nav:hover ul {
  display: block;
}
.main-nav li {
  margin-right: .4em;
  font-size: 1.1em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

/* ICONS ATTACHED BEFORE NAV TEXT */
nav.main-nav.icon-menu::before {
  margin: 10px 10px 0 0;
  float: right;
}
/* hamburger menu placement in mobile view */
.icon-menu::before {
  font-size: 1.5em;
}
/* drop down navigation in mobile view */
.main-nav {
	text-align: right;
  padding: 0.1em;
}



/**********************************
FILTER
***********************************/
#filters {
  padding: 0;
  list-style: none;
}
#filters select {
  width: 80%;
  margin: .2em 5%;
}




/***********************************
FOOTER
***********************************/
footer {
  font-size: 0.75em;
	text-align: center;
	padding: 25px 0 10px;
	clear: both;
	border-top: 1px solid black;
}



/**********************************
HOME PAGE: PORTFOLIO
***********************************/
#projects article {
  /*float: left;*/
  width: 80%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

.article-body {
	padding: 1em;
}


/**********************************
PAGE: ABOUT
***********************************/
#about h1 {
  font-size: 1.5em;
}
#about h2 {
  font-size: 1.2em;
  font-weight: normal;
}
section {
  line-height: 1.5em;
}




/**********************************
COLORS
***********************************/
body {
	color:#373648;
}

h1 {
	/* orange */
	color:#D56724;
}

a:link {color: #d76713;}
a:visited {color: #d76713;}
a:hover, a:focus {color: #813107;}
a:active {color: #d76713;}

/* colors for nav link */
nav a:link, nav a:visited, a:active {color: #d76713;}
/* orange for hover state in nav */
nav a:hover, nav a:focus {color: #813107;}
