/**********************
General
***********************/

body {
	font-size:16px;
	line-height:22px;
	height: auto;
	font-family: Helvetica, sans-serif;
	color:#373648;
	background-color:#EEEFE5;
  padding: 1em;
	width: 80%;
	max-width:1000px;
	margin:0px auto;
}

/* Nav Styles */
nav {
	padding: 1em;
	font-size: 1.4em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: inline-block;
    /*color: white;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Font styles */
h1 {
	color:#D56724;
}

#about {
	border-top: 1px solid green;
}

img {
  padding: 1em;
}

address {
  display: inline-block;
}

hr {
  margin: 1em;
  width: 80%;
}

a:link {color: #d76713; text-decoration:none;}
a:visited {color: #d76713; text-decoration:none;}
a:hover {color: #813107; text-decoration:none;}
a:active {color: #d76713; text-decoration:none;}

footer {
	border-top: 1px solid green;
	padding: 2em;
  margin-top: 3em;
}
