/**********************************
HANDLEBARS TEMPLATE TEXT STYLES
***********************************/

.template {
  display: none;
}
article h3 {
  color: #000;
  font-size: 0.9em;
  margin: 5px 0 5px 10px;
}
article p {
  margin: 0;
}
